---
const {title, description, mainTech, secTech1, secTech2, secTech3, href} = Astro.props
---

<a href={href} target="_blank" class="relative p-3 shadow-md dark:shadow-stone-50 shadow-black  rounded-3xl flex overflow-hidden items-center min-w-[100px] max-w-[300px] cursor-pointer group">
        {secTech1 && <img class="z-50 h-5 w-5 absolute top-3 right-3 rounded-full outline outline-gray-100/15 transition duration-1000 group-hover:scale-[2] group-hover:rotate-[410deg] group-hover:-translate-y-3 group-hover:translate-x-3 bg-transparent" height="20" width="20" src={secTech1} /> }

        {secTech2 && <img class="z-50 h-5 w-5 absolute top-9 right-3 rounded-full outline outline-gray-100/15 transition duration-1000 group-hover:scale-[2] group-hover:rotate-[410deg] group-hover:-translate-y-2 group-hover:translate-x-3 bg-transparent" height="20" width="20" src={secTech2} /> }

        {secTech3 && <img class="z-50 h-5 w-5 absolute top-15 right-3 rounded-full outline outline-gray-100/15 transition duration-1000 group-hover:scale-[2] group-hover:rotate-[410deg] group-hover:-translate-y-1 group-hover:translate-x-3 bg-transparent" height="20" width="20" src={secTech3} /> }

        <div
            class="absolute inset-0 ring-1 ring-white/30 ring-inset bg-gradient-to-l from-primary to-accent rounded-2xl overflow-hidden">
        </div>
        <div class="relative z-10 flex items-center space-x-4">
            <img class="h-16 w-16 rounded-2xl object-contain shadow-md shadow-stone-50 border bg-white/20 border-gray-100/5 transition duration-300 group-hover:scale-95 p-2" height="64" width="64" src={mainTech} />
            <div class="flex flex-col transition duration-300 group-hover:-translate-x-2">
                <div class="relative text-sm pl-2 font-semibold text-gray-100 cursor-pointer 
                                        after:transition-[width] after:ease-in-out after:duration-700 
                                        after:absolute after:bg-gradient-to-r after:from-gray-100/30
                                        after:via-gray-100/10 after:to-transparent after:origin-left 
                                        after:h-[2px] after:w-0 group-hover:after:w-full 
                                        after:bottom-0 after:left-0">
                    {title}
                </div>
                <p class="text-xs text-gray-50/70 text-balance">{description}</p>
            </div>
        </div>
        </a>